@import "tailwindcss";

@theme {
  /* Define your professional color palette here */
  --color-slate: #262626;
  --color-secondhand: #3f3f3f;
  --color-whitish: #f5f5f5;
  --color-lightgrey: #dcdcdc;
  --color-accent: #c8a97e;
}

/* Base styles using the new variables */
body {
  @apply bg-slate text-whitish;
  font-family: 'Inter', system-ui, sans-serif;
}